<?xml version="1.0"?>
<launch>
        <!-- Restart rosbeam bridge -->
        <node pkg="beam_2dnav" type="init_connection" name="init_connection" output="screen"/>
                <param name="beam_ip" value="192.168.68.1"/>
                <param name="user" value="st"/>
                <param name="encoder_speed_threshold" value="220"/>

	<node pkg="beam_tf" type="diff_tf.py" name="diff_tf" output="screen">
		<rosparam param="base_width">0.261</rosparam>
		<rosparam param="/ticks_meter">121</rosparam>
		<rosparam param="rate">30</rosparam>
        </node>
</launch>

